<nav class="navbar fixed-top">
  <a href="#" class="navbar-brand" routerLink="">
    <img [src]="leftIcon" class="img-fluid responsive db-icon">
  </a>
  <button class="hamburger hamburger--collapse navbar-toggler collapsed" data-toggle="collapse" type="button" (click)="toggleNavbar()" [ngClass]="{'is-active': navbarOpen}" style="font-size: 15px">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColl" [@slideInOut]="menuState" [ngClass]="{ 'show': navbarOpen }">
    <div class="side left-menu ">
<!--      <img class="img-fluid" src="/../../assets/pictures/header/menu_2.jpg">-->
    </div>
    <div class="side right-menu" (click)="toggleNavbar()">
      <div class="row">
      </div>
      <ul>
        <li>
          <a class="menu-ancor" pageScroll pageScrollDuration="1" href="#top" routerLink="/menu">Menu</a>
        </li>
        <li>
          <a class="menu-ancor" pageScroll pageScrollDuration="1" href="#top"  routerLink="/about">About</a>
        </li>
        <li>
          <a class="menu-ancor" pageScroll pageScrollDuration="1" href="#top" routerLink="/blog">Blog</a>
        </li>
      </ul>
      <div class="detail-connection">
        <div class="row network-details">
          hey@dolabola.com
        </div>
        <div class="row network-details">
          (972)506-619-909
        </div>
        <div class="row">
          <div class="col-1 network">
            <a href="https://www.instagram.com/_halodesign_/">
              <img src="../../assets/pictures/footer/instagram-icon.png" class="img-fluid">
            </a>
          </div>
          <div class="col-1 network">
            <a href="https://www.facebook.com/HalooDesign/">
              <img src="../../assets/pictures/footer/facebook-icon.png" class="img-fluid" style="height: 28px">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

