.navbar{
  background-color: transparent;
  margin: 0;
  position: fixed;
  z-index: 10;
}

.hamburger {
  color: #3B3C3C !important;
  z-index: 10;
  font-size: 10px !important;
}

.list-items{
  font-family: alegreya-bold;
  color: white;
  font-size: 1.5vw;
}
button{
  outline:none;
}
.db-icon{
  height: 63px;
}

.menu-icon{
  margin-left: 25%;
  height: 40px;
}

.menu-class{
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  cursor: pointer;
  outline: none;
  background: none;
  border: 0;
}

.menu-class span {
  display: block;
  position: fixed;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #F9CAD2;
}

.menu-ancor:hover{
  color: #3B3C3C;
  text-underline: none;
}

.menu-ancor{
  color: black;
  font-size: 50px;
}


ul{list-style-type:none;
margin: auto;
  padding-top: 20%;
  padding-left: 42%;
  padding-right: 40%;
}

a, u {
  text-decoration: none !important;
}

li{
  padding-bottom: 2%;
}

.show{
  position: fixed;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: 5;
  font-family: alegreya-reg, Helvetica, sans-serif;
}

.show:checked {
  display: none;
}

.flaticon-close{
  top: 10px;
}
.connection-details{
  font-size: 25px;
  font-family: alegreya-reg;
}

.connection-details{
  font-size: 25px;
  font-family: alegreya-reg;
}

.left-menu{
  left: 0;
  width: 50%;
  top: 0;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.right-menu{
  right: 0;
  background: #F9CAD2;
  color: #3B3C3C;
  position: fixed;
  width: 50%;
  font-family: alegreya-reg, Helvetica, sans-serif;
}

.side{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}


.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.network{
  padding: 4% 1% 0% 1%;
}
.detail-connection{
  padding-left: 45%;
}
.network-details{
  padding-bottom: 1%;
  color: black;
}

.network-details:hover{
  color: #3B3C3C;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 720px)   {
  /*.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {*/
  /*  background-color: white;*/
  /*}*/

  .db-icon{
    width: 65%;
    padding-left: 11%;
    padding-top: 11%;
  }

  .right-menu{
    width: 100%;
  }
  .detail-connection{
    padding-left: 38%;
  }

  ul{
    margin: auto;
    padding-top: 42%;
    padding-left: 34%;
    padding-right: 34%;
  }
}
