<footer id="sticky-footer" class="my-footer">
  <div class="container my-container">
    <div class="row align-items-center">
      <div class="col-3 col-md-2 my-col-db">
        <img src="assets/pictures/footer/DB_footer_logo.png" class="img-fluid"/>
      </div>
      <div class="col-9 col-md-5 details-col">
        <p class="footer-p">
          Cocktail Bar, Mill Road & Tapas<br class="mobile-not-display">
          Serving the best cocktails and sharing small plates.
        </p>
        <div class="row contact-row justify-content-start">
          <p class="bold-p">
            hey@dolabola.com
            <br class="mobile-not-display">
            (+972)506-619-909
          </p>
          <div class="desktop-not-show">
            <div class="col-3 media-col">
              <a href="https://www.instagram.com/_halodesign_/">
                <img src="assets/pictures/footer/instagram-icon.png" id="insta1" class="img-fluid media-img"/>
              </a>
            </div>
            <div class="col-3 media-col">
              <a href="https://www.facebook.com/HalooDesign/">
                <img src="assets/pictures/footer/facebook-icon.png" id="facebook1" class="img-fluid media-img"/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 mobile-not-display">
        <ul>
          <li>
            <a pageScroll pageScrollDuration="1" href="#top" class="footer-a"  routerLink= "/menu"  routerLinkActive="active">Menu</a>
          </li>
          <li>
            <a pageScroll pageScrollDuration="1" href="#top" class="footer-a" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li>
            <a pageScroll pageScrollDuration="1" href="#top" class="footer-a" routerLink="/blog" routerLinkActive="active" >Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mobile-not-display">
        <p class="footer-p ">
          For news and update on our menu<br>
          follow us
        </p>
        <div class="row justify-content-md-start align-items-end">
          <div class="col-2 col-md-2 media-col">
            <a href="https://www.instagram.com/_halodesign_/">
              <img src="assets/pictures/footer/instagram-icon.png" id="insta" class="img-fluid media-img"/>
            </a>
          </div>
          <div class="col-2 col-md-2 media-col">
            <a href="https://www.facebook.com/HalooDesign/">
              <img src="assets/pictures/footer/facebook-icon.png" id="facebook" class="img-fluid media-img"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

