<footer id="sticky-footer" class="my-footer">
  <div class="container my-container">
    <div class="row my-row align-items-center justify-content-between">
      <div class="col-2 my-col-db">
        <img src="assets/pictures/footer/DB_footer_logo.png" class="img-fluid"/>
      </div>
      <div class="col-5">
        <div class="row">
          <p class="footer-p">
            Cocktail Bar, Mill Road & Tapas<br>
            Serving the best cocktails and sharing small plates.
          </p>
        </div>
        <div class="row">
          <p class="bold-p">
            hey@dolabola.com<br>
            (+972)506-619-909
          </p>
        </div>
      </div>
      <div class="col-2">
        <div class="row">
          <a class="footer-a"  routerLink="/menu" routerLinkActive="active">Menu</a>
        </div>
        <div class="row">
          <a class="footer-a" routerLink="/about" routerLinkActive="active">About</a>
        </div>
        <div class="row">
          <a class="footer-a" routerLink="/blog" routerLinkActive="active" href="#">Blog</a>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <p class="footer-p">
            For news and update on our menu
            follow us
          </p>
        </div>
        <div class="row" justify-content-center>
          <div class="col-1 media-col">
            <a href="#">
              <img src="assets/pictures/footer/instagram-icon.png" class="img-fluid"  width="80%" height="80%"/>
            </a>
          </div>
          <div class="col-1 media-col">
            <a href="#">
              <img src="assets/pictures/footer/facebook-icon.png" class="img-fluid" width="38%" height="38%"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

