.my-footer{
  background-color: #F9CAD2;
  height: auto;
  flex-shrink: 0;
  padding: 3%;
}

.contact-row{
  margin-left: 0.3%;
}

.my-container{
  max-width: 1642px;
}
.my-row{
  width: 100%;
  height: 18vw;
  display: flex;
  align-items: center;
}
.my-col-db{
  padding: 1.2%;
}

.footer-p{
  font-family: alegreya-reg;
  color: #695C5F;
}

.footer-a{
  font-size: 1.9vw;
  font-family: alegreya-bold;
  color: #3B3C3C;
}

.bold-p{
  color: #3B3C3C;
  font-family: alegreya-bold;
}

.media-col{
  padding: 0% 0% 0% 3%;
  text-align: center;
}

ul {
  list-style-type: none;
}
.details-col{
  font-size: 20px;
}

.media-img{
  padding: 1%;
}

#facebook{
  width: 35%;}

#insta{
  width: 68%;
}

.desktop-not-show{
  display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 720px)   {
  .mobile-not-display{
      display: none;
  }

  .details-col{
    font-size: 11px;
    padding: 0% 0% 0% 0%;
    line-height: 20px;
  }

  .footer-p{
    margin: 0px;
    margin-top: 8%;
  }

  .media-col{
    padding: 0% 0% 0% 0%;
    display: inline-table;
  }

  .media-img{
    padding: 1%;
  }

  #facebook1{
    width: 40%;
  }
  #insta1{
    width: 75%;
  }

  .desktop-not-show{
    display: inline;
    padding-left: 3%;
  }
}
