
.let-us-know-col{
  padding: 0;
}

.main-row{
  margin: 1%;
}

.icon-img{
  width: 18px;
  height: 15px;
  object-fit: cover;
}

.likes{
  cursor: pointer;
}

.icons-col{
  padding: 0;
}
.my-detail-row{
  font-family: alegreya-reg;
  color: 	#A9A9A9;
  font-size: 16px;
}
.detail-col{
  padding: 0;
}
.desc-p{
  font-family: alegreya-reg;
  font-size: 22px;
  color: #808080;
}
.title{
  font-family: alegreya-bold;
  font-size: 35px;
  color: #3B3C3C;
}
.all-details{
  padding: 2vw 0 0 0;
}
.content-title{
  font-size: 24px;
  font-family: alegreya-bold;
  letter-spacing: 0.0001rem;
  color: #808080;
}
.content-desc-p{
  font-size: 22px;
  font-family: alegreya-reg;
  letter-spacing: 0.0001rem;
  color: #808080;
}

.col-blog-item{
  padding: 2.6vw;
}

.title-2{
  font-family: alegreya-bold;
  font-size: 30px;
  color: #3B3C3C;
}
.recent-row{
  padding: 5% 0% 2% 0%;
}
.title-3{
  font-family: alegreya-bold;
  font-size: 1.8vw;
  color: #3B3C3C;
  padding-bottom: 4%;
  padding-top: 3%;
}
.form-row{
  margin-top: 1vw;
  padding: 0% 2% 0% 0%;
}

.desktop-not-display{
  display: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:  1224px) and (max-width: 1824px){
  .blog-item-img{
    width: 1000px;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }

  .art-img{
    width: 820px;
    height: 430px;
    object-fit: cover;
    object-position: center;
  }

  .form-row{
    margin-top: 1%;
  }

  .no_padding{
    padding: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1824px){
  .art-img{
    width: 900px;
    height: 650px;
    object-fit: cover;
    object-position: center;
  }

  .blog-item-img{
    width: 1430px;
    height: 750px;
    object-fit: cover;
    object-position: center;
  }
}

@media only screen and (max-width: 720px) {
  .blog-item-img{
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }

  .content-title{
    font-size: 24px;
  }

  .my-detail-row{
    font-size: 20px;
    padding-left: 11%;
    padding-right: 11%;
  }

  .title{
    font-size: 32px;
    color: #3B3C3C;;
  }

  .desc-p{
    font-size: 20px;
    /*line-height: 1.8rem;*/
    color: #727272;
    padding-right: 10%;
    font-weight: 300;
  }

  .all-details{
    padding: 4% 4% 1% 11%;
  }

  .art-img{
    display: none;
  }

  .content-desc-p{
    font-size: 20px;
    padding-right: 26%;
  }

  .title-3{
    font-size: 22px;
    padding-left: 3%;
  }

  .title-2{
    font-size: 28px;
    margin-left: 2%;
  }

  .col-blog-item{
    padding: 0% 0% 0% 0%;
  }
  .recent-row{
    padding-left: 2%;
  }

  .mobile-not-display{
    display: none;
  }
  .form-row{
    padding: 0% 6% 0% 5%;
  }

  .comments-row{
    margin-left: 6%;
    margin-right: 4%;
  }

  .desktop-not-display{
    display: contents;
  }

  #recent-posts-mobile{
    margin-right: 3%;
    margin-left: 3%;
  }
}
