<div *ngIf="currentBlogItem">
  <div class="row main-row">
    <div class="col-md-8 col-12 col-blog-item">
      <div class="row img-row">
        <img *ngIf="currentBlogItem.imagePath" [src]="currentBlogItem.imagePath" class="img-fluid blog-item-img"/>
      </div>
      <div class="row justify-content-between my-detail-row">
        <div class="col-md-4 col-6 detail-col">
          {{ currentBlogItem.date | date: "longDate"}}
        </div>
        <div class="col-md-4 col-6 detail-col mobile-not-display" (click)="likeBlogItem($event)">
          <div class="row justify-content-end align-items-md-center">
            <div class="col-md-2  col-2 icons-col likes">
              <img src="assets/pictures/blog/like.png" class="icon-img"/>
              {{ currentBlogItem.likes }}
            </div>
            <div class="col-md-2 col-2 icons-col">
              <div class="row justify-content-around">
                <div class="col-6">
                  <img src="assets/pictures/blog/comment.png" class="icon-img"/>
                </div>
                <div class="col-6 no_padding">
                  <div *ngIf="currentBlogItem.comments; else zero">
                    {{ currentBlogItem.comments.length }}
                  </div>
                  <ng-template #zero>
                    0
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="all-details" *ngIf="currentBlogItem.content">
        <div class="row">
          <h2 class="title">
            {{ currentBlogItem.content[0].title}}
          </h2>
        </div>
        <div class="row">
          <p class="desc-p">
            {{ currentBlogItem.content[0].desc}}
          </p>
        </div>
        <div *ngFor="let i=index ;let detail of currentBlogItem.content">
          <div *ngIf="i>0">
            <div class="row blog-item-content">
              <h2 class="content-title">
                {{ currentBlogItem.content[i].title }}
              </h2>
            </div>
            <div class="row">
              <p class="content-desc-p">
                {{ currentBlogItem.content[i].desc}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-7 let-us-know-col">
          <h3 class="title-3">
            Let us Know what you think
          </h3>
          <app-what-you-think-form (posted)="onPosted($event)"></app-what-you-think-form>
        </div>
      </div>
      <div class="comments-row">
        <app-comments *ngIf="currentBlogItem" [blogItem]="currentBlogItem" [BlogItemId]="id"></app-comments>
      </div>
    </div>
    <div class="col-md-4 col-11 col-blog-item mobile-not-display">
      <div class="row mobile-not-display">
        <img src="assets/pictures/blog/blogArtboard 1.jpg" class="img-fluid art-img"/>
      </div>
      <div class="row recent-row">
        <h3 class="title-2">
          RECENT POSTS
        </h3>
      </div>
      <app-recent-posts></app-recent-posts>
    </div>
    <section id="recent-posts-mobile">
      <div class="row recent-row desktop-not-display">
        <h3 class="title-2">
          RECENT POSTS
        </h3>
        <app-recent-posts></app-recent-posts>
      </div>
    </section>
  </div>
</div>
