.my-row-items{
  display: flex;
  flex-direction: column;
}

.my-row{
  padding: 1%;
  margin: 1%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1824px){


}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) and (min-width: 768px){
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px)  {

}

/*/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
