<div id="top">

</div>
<div class="row open-about-row">
</div>
<div class="row my-middle-row align-items-start">
  <div class="col-md-6 float-md-right my-col">
  </div>
  <div class="col-md-6 float-md-left my-col">
    <h2 class="title">
      Who We Are?
    </h2>
    <p class="my-paragraph">
      Dola Bola is a unique, vibrant cocktail bar with music,
      cocktails, an extensive wine list and sharing small plates.
      We have the Dola Bola ingredient in everything wer’e doing- the stylish interior,
      the chefs’ fresh and organic menu and the epic cocktails that will blow your mind.
      Dola Bola is a happy place to close with the day and meet up colorful people.
    </p>
  </div>
</div>
<div class="row meet-row">
  <div class="col-md-6 float-md-right right-col meet-col">
    <h2 class="title" style="color: white">
      Meet Dorin & Hila
    </h2>
    <p class="my-paragraph" style="color: white">
      The faces behind the Dola Bola brand.
      The two are sharing a great passion for colorful cocktails,
      amazing food, good vibes, crazy people and a little bit of pink.
    </p>
  </div>
</div>
<div class="row drop-line-row justify-content-start">
  <div class="col-md-5 drop-line-col">
    <h2 class="title">
      Drop Us a Line
    </h2>
    <p class="my-paragraph">
      Send us your feedback,
      questions or just say “Hi!”
      by using the form or sending an
      email to hey@dolabola.com
    </p>
    <div class="desktop-not-display">
      <app-drop-line-form></app-drop-line-form>
    </div>
  </div>
  <div class="col-md-5 mobile-not-display">
    <app-drop-line-form></app-drop-line-form>
  </div>
</div>
