<hr>
<div class="comments-container">
  <div class="row justify-content-start">
    <div class="col-6 date-comment-row">
      {{ currentComment.date | date: "longDate"}}
      by
      {{ currentComment.owner}}
    </div>
    <div class="col-md-2 col-3">
      <div class="row">
        <div class="date-comment-row reply" (click)="setReply()">
          <img src="assets/pictures/blog/comment.png" class="icon-img"/>
          Reply
        </div>
      </div>
    </div>
    <div class="col-1 col-md-2">

    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-5">
      <h3 class="comment-owner">
        {{ currentComment.owner | uppercase}}
      </h3>
    </div>
  </div>
  <div class="row comment-content">
    <div class="col-12 comment-content-col">
      {{ currentComment.content }}
    </div>
  </div>
  <div class="container">
    <div *ngIf="currentComment.replies">
      <app-comment-item *ngFor="let reply of currentComment.replies; let i=index" [currentComment]="reply">
      </app-comment-item>
    </div>
    <app-reply-comment *ngIf="replied" [currentBlogItemId]="currentBlogItemId" [currentCommentItemId]="currentCommentId" (submitReply)="reply($event)">
    </app-reply-comment>
  </div>
</div>
