.icon-img{
  width: 18px;
  height: 15px;
  object-fit: cover;
}

.date-comment-row{
  font-family: alegreya-reg;
  font-size: 18px;
  color: #A9A9A9;
}

.comment-content{
  font-family: alegreya-reg;
  font-size: 28px;
  color: #3B3C3C;
}

.comment-owner{
  font-family: alegreya-bold;
  font-size: 36px;
  color: #3B3C3C;
}

.comments-container{
  padding: 0% 0% 0% 4%;
}

.comment-content-col{
  padding: 0% 3% 0% 2%;
}

.reply{
  cursor: pointer;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:  1224px) and (max-width: 1824px){
  .date-comment-row{
    font-size: 15px;
  }

  .comment-owner{
    font-size: 24px;
  }

  .comment-content{
    font-size: 17px;
  }

  .comments-container{
    padding: 0% 0% 0% 4%;
  }

  .comment-content-col{
    padding: 0% 3% 0% 2%;
  }

}
@media only screen and (max-width: 720px) {
  hr{
    max-width: 100%;
    margin-right: 20%;
  }
  .comment-owner{
    font-size: 25px;
    margin-bottom: 0%;
  }

  .comment-content-col{
    padding: 0% 0% 0% 5%;
  }


  .comment-content{
    font-size: 15px;
  }
  .comments-container{
    padding: 0% 0% 0% 4%;
  }
  .date-comment-row{
    font-size: 15px;
  }
}
