.comments-container{
  background-color: #F0F0F0;
  margin-top: 5%;
  padding: 2%;
  padding-left: 4%;
  margin-left: -1%;
  width: 100%;
}

.comments-title{
  font-family: alegreya-bold;
  font-size: 32px;
  font-weight: 500;
}

.container-B {
  margin-top: 0.8%;
  margin-left: -2%;
}

.container-A {
  margin-left: -2%;
  margin-top: 0.8%;
}


/* resize images */
.container img {
  width: 100%;
  height: auto;
}
.comments-div{
  padding-top: 4%;
  margin-left: -22%;
  width: 100%;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-size: 15px;
}
@media only screen and (min-width: 1820px) {

  hr{
    margin-left: 4%;
  }


  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 18px;
    margin-left: 24px;
  }

  .comments-title{
    font-size: 35px;
  }

  .container-B {
    margin-top: 0.7%;
    /*margin-left: -1%;*/
  }

  .container-A {
    margin-top: 0.7%;
  }
  .comments-container{
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .comments-container{
    padding: 7% 0% 7% 7%;
  }

  .container-B {
    width: 18px;
    margin-top: 3%;
  }

  .container-A {
    margin-top: 3.5%;
    margin-left: 3%;
    width: 30px;
  }

  .comments-title{
    font-size: 40px;
  }
}
