.my-detail-row{
  font-family: alegreya-reg;
  color: 	#A9A9A9;
  font-size: 16px;
  padding: 0;
}
.title-col{
  font-family: alegreya-bold;
  font-size: 24px;
  color: #3B3C3C;
}
.my-img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: bottom;
}

.desc-col{
  font-family: alegreya-reg;
  color: #808080;
  font-weight: 500;
  font-size: 18px;
}
.icon-img{
  width: 12px;
  height: 12px;
  object-fit: cover;
}
.icons-col{
  padding: 0;
  align-items: center;
}

a{
  text-decoration: none !important;
}

.my-main-row{
  padding: 4% 0 0 0;
  /*margin: 0% -11% 0% -11%;*/
}

@media only screen and (max-width: 720px) {
  .my-img{
    width: 300px;
    height: 350px;
    object-fit: cover;
    object-position: bottom;
  }

  .my-main-row{
    padding: 0% 0% 0% 0%;
  }

  .my-detail-row{
    font-size: 15px;
  }

  .title-col{
    font-size: 24px;
  }

  .desc-col{
    font-size: 18px;
    color: #737373;
    font-weight: 500;
  }
}

@media only screen and (min-width: 1224px) and (max-width: 1824px){
  .my-detail-row{
    font-size: 11px;
  }

  .my-img{
    width: 250px;
    height: 250px;
  }

  .title-col{
    font-size: 18px;
  }

  .desc-col{
    font-size: 14px;
  }

  .my-main-row{
    padding: 1% 1% 1% 1%;
  }
}
