/*.shadow {*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  box-shadow: inset 3px 3px 10px 0 #000000;*/
/*  border-radius: 20px;*/
/*  top: 0;*/
/*  left: 0;*/
/*}*/

.flaticon-close:before{
  font-size: 15px;
}

.ngx-gallery-thumbnail-size-cover[_ngcontent-rvi-c12] .ngx-gallery-thumbnails[_ngcontent-rvi-c12] .ngx-gallery-thumbnail[_ngcontent-rvi-c12] {

}

[_nghost-nud-c5] .ngx-gallery-icons-wrapper:before{
  -moz-box-shadow: 1px 1px 5px #999;
  -webkit-box-shadow: 1px 1px 5px #999;
  box-shadow: 1px 1px 5px #999;}

[class^="flaticon-close"]:before, [class*="flaticon-close"]:before, [class^="flaticon-close"]:after, [class*="flaticon-close"]:after {
  font-size: 15px;
}
