
input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #3B3C3C;
  font-size: 1.2vw;
  line-height: 26px;
  padding-bottom: 6px;
  padding-top: 20px;
  color: #3B3C3C;
  outline: 0;
  font-weight: 500;
}


.my-form-group{
  font-family: alegreya-reg;
  color: black;
  font-size: 0.5vw;
  padding: 6%;
  font-weight: 500;
}

.my-btn{
  color: black;
  padding: 0% 2.8vw 0% 2.8vw;
  background-color: #F0F0F0;
  font-size: 1.1vw;
  border-radius: 20px;
  font-weight: 500;
}


input#message{
  font-size: 1vw;
  padding-bottom: 60px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@media only screen and (max-width: 720px)  {
  input {
    font-size: 3vw;
  }

  input#message{
    font-size: 15px;
    padding-bottom: 60px;
  }

  .my-btn{
    color: black;
    padding: 0% 21% 0% 21%;
    background-color: #F0F0F0;
    font-size: 15px;
    border-radius: 20px;
    font-weight: 500;
  }

  .my-form-group{
    padding: 0%;
    margin-bottom: 5%;
  }

}
