.my-detail-row{
  font-family: alegreya-reg;
  color: 	#A9A9A9;
  font-size: 15px;
}
.title-col{
  font-family: alegreya-bold;
  font-size: 2vw;
  color: #3B3C3C;
}
.my-img{
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: bottom;
}

.desc-col{
  font-family: alegreya-reg;
  color: #808080;
  font-weight: 500;
  font-size: 1.3vw;
}
.icon-img{
  width: 15px;
  height: 13px;
  object-fit: cover;
}
.icons-col{
  display: contents;
}

a{
  text-decoration: none !important;
}

.icons-row{
  margin-right: 1%;
}

.icons{
  padding-left: 3%;
}

@media only screen and (max-width: 720px) {
  .my-img{
    height: 300px;
  }

  .title-col{
    font-size: 30px;
    line-height: 33px;
  }

  .desc-col{
    font-size: 22px;
    padding: 0% 12% 0% 5%;
    line-height: 23px;
  }

  /*.icons-col{*/
  /*  font-size: 19px;*/
  /*}*/
  .my-detail-row{
    font-size: 15px;
  }
}
