<div class="row align-items-center justify-content-start start-row">
  <div class="col-md-12 put-some-dola-col">
    <img src="../../assets/pictures/homePage/desktop/putSomeDolaBola.png" class="put-some-dola">
  </div>
</div>
<div class="row align-items-start my-middle-row">
  <div class="col-md-6 col-sm-12 col-xs-12 my-col float-md-right">
    <div class="img-second-part">
      <img class="mobile-show" src="../../assets/pictures/homePage/mobile/plate-2.png">
    </div>
    <h2 class="title">
      Hi you
    </h2>
    <p class="my-paragraph">
      We are the <b>Dola Bola</b>.<br>
      Cocktail Bar, Mill Road & Tapas<br>
      Serving the best cocktails and sharing  plates.
    </p>
  </div>
</div>
<app-gallery></app-gallery>

